<!DOCTYPE html>
<html>
<head>
    <title>Streaming</title>
    <link rel="stylesheet" type="text/css" href="../static/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="../static/app.css" />
</head>
<body>


{% macro input_checked(value) -%} {%
    if value %} checked {% endif
%}{%- endmacro %}
{% macro checkbox_resolution(resolution, selected) -%}
    <label for="resolution_{{resolution.id}}" class="pure-radio">
      <input id="resolution_{{resolution.id}}" name="resolution" type="radio" value="{{ resolution.id }}" {{ input_checked(resolution.id == selected.id ) }}/> {{ resolution.name }}
    </label>
{%- endmacro %}


<div id="main">
    <div class="header">
        <h1>Streaming</h1>
    </div>

    <br />

    <div class="content">


<form class="pure-form" method="POST" action="{{ url_for('index') }}">
<div class="pure-g-r">

    <div class="pure-u-1-4">
        <div class="m-box">

    <fieldset>
            <legend>Resolution</legend>
    {% for res in resolutions %}
        {{ checkbox_resolution( res, config.resolution ) }}
    {% endfor %}
    </fieldset>


    <fieldset>
        <legend>Grayscale?</legend>
        <label for="grayscale" class="checkbox">
            <input id="grayscale" name="grayscale" type="checkbox" value="1" {{ input_checked(config.grayscale) }} /> Yes
        </label>
    </fieldset>

    <fieldset>
        <legend>Add time?</legend>
        <label for="time" class="checkbox">
            <input id="time" name="time" type="checkbox" value="1" {{ input_checked(config.insert_time) }} /> Yes
        </label>
    </fieldset>

    <button type="submit" class="pure-button pure-button-primary">Apply</button>
<hr />
    <a href="?clear=1"  class="button-warning pure-button pure-button-active">Clear preferences</a>

</div>
    </div>
    <div class="pure-u-3-4">
        <div class="m-box">
         <img src="0{{ url_for('streamer.stream_cam') }}" alt="Steaming cam"
              width="{{ config.resolution.values[0] }}"
              height="{{ config.resolution.values[1] }}"
                 />
    </div>
    </div>
</div>

</form>



</div>
</div>
</body>
</html>