<!DOCTYPE html>
{% extends "layout.html" %}

{% macro checkpercent(value, limit=80) -%} {%
    if value > limit %}<button class="button-warning pure-button">{{value}} %</button>{%
    else %}<button class="button-success pure-button">{{value}} %</button>{% endif
%}{%- endmacro %}


{% block title %}Computer informations{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1-2">
        <h5>OS informations</h5>
        <p>
            <strong>OS Name : </strong> {{ data.osname }}
            <br>
            <strong>Uptime : </strong> {{ data.host_up_since }}
        </p>
    </div>

    <div class="pure-u-1-2">
        <h5>Network informations</h5>
        <p>
            <strong>Hostname : </strong> {{ data.hostname }}
            <br>
            <strong>IPs : </strong>
            <blockquote>
                {% for ip in data.ips %}
                    {{ ip }}<br>
                {% endfor %}
            </blockquote>
        </p>
    </div>
    <div class="pure-u">
        <h5>System resources</h5>
        <p>
            <strong>Process up since : </strong> {{ data.prog_up_since }}
            <br>
            <strong>Memory usage: </strong> {{ checkpercent(data.mempercent) }} of {{data.memtotal}}
            <br>
        </p>
        <p>
          <h5>Harddrive : </h5>
          <table class="pure-table pure-table-horizontal">
              <thead>
                  <tr>
                      <th>Mounting point</th>
                      <th>Fstype</th>
                      <th>Space</th>
                      <th>Used</th>
                      <th>Free</th>
                  </tr>
              </thead>
              <tbody>
                {% for pt in data.partitions %}
                <tr>
                    <td>{{ pt.mountpoint }}</td>
                    <td>{{ pt.fstype }}</td>
                    <td>{{ pt.ddtotal }}</td>
                    <td>{{ checkpercent(pt.ddpercent) }}</td>
                    <td>{{ pt.ddfree }}</td>
                 </tr>
                {% endfor %}
                </tbody>
            </table>
</p>
    </div>
</div>
{% endblock %}
